security:
  password_hashers:
    App\Entity\User:
      algorithm: auto

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:

    dev:
      security: false

    admin:
      pattern: ^/admin
      provider: app_user_provider
      lazy: true
      stateless: false

      form_login:
        login_path: admin_login
        check_path: admin_login
        username_parameter: email
        password_parameter: password
        enable_csrf: true
        default_target_path: admin_dashboard
        remember_me: false
        post_only: true

      logout:
        path: admin_logout
        target: admin_login

  role_hierarchy:
    ROLE_ADMIN: ROLE_USER

  access_control:
    - { path: ^/admin/login, roles: PUBLIC_ACCESS }
    - { path: ^/admin, roles: ROLE_ADMIN }
