parameters:
    level: 5

    paths:
        - src

    excludePaths:
        - src/Command/*
        - tests/*
        - var/*
        - vendor/*

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Property App\\Entity\\.*::\$id .*#'
