<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>

        <!-- DATABASE_URL requis pour les tests d'intégration -->
        <env name="DATABASE_URL" value="mysql://admludo:Coqwheel!9729@127.0.0.1:3306/inazaoui?serverVersion=8.0&amp;charset=utf8mb4"/>
    </php>


</phpunit>
