<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
        executionOrder="depends,defects"
        failOnRisky="true"
        failOnWarning="true"
>

    <!-- ===================== -->
    <!-- Test suites           -->
    <!-- ===================== -->
    <testsuites>
        <testsuite name="Application">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <!-- ===================== -->
    <!-- Source (Coverage)     -->
    <!-- ===================== -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <directory>src/Controller</directory>
            <directory>src/Command</directory>
            <directory>src/DataFixtures</directory>
            <directory>src/Migrations</directory>
            <file>src/Kernel.php</file>
        </exclude>
    </source>

    <!-- ===================== -->
    <!-- PHP environment       -->
    <!-- ===================== -->
    <php>
        <!-- Symfony -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SHELL_VERBOSITY" value="-1"/>

        <!-- Désactivation des dépréciations -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>

        <!-- Doctrine : base STRICTEMENT dédiée aux tests -->
        <env
                name="DATABASE_URL"
                value="mysql://admludo:Coqwheel!9729@127.0.0.1:3306/inazaoui_test?serverVersion=8.0&amp;charset=utf8mb4"
        />
    </php>

</phpunit>
