name: CI Symfony

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: xdebug
          extensions: mbstring, intl, pdo_mysql

      - name: Validate composer.json
        run: composer validate --no-check-publish

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPUnit with coverage
        run: |
          php bin/phpunit \
            --coverage-text \
            --coverage-clover=coverage.xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-clover
          path: coverage.xml

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --no-progress
